.u-section-1 .u-sheet-1 {
  min-height: 1572px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px 389px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  margin: 19px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}