 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 520px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 83px 50px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 58px 103px 0 25px;
}

.u-section-1 .u-layout-cell-2 {
  background-position: 50% 50%;
  min-height: 520px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

.u-section-1 .u-image-1 {
  width: 523px;
  height: 359px;
  margin: 43px 16px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 10px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: 38px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 327px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 251px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 363px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 7px 5px;
  }

  .u-section-1 .u-image-1 {
    height: 226px;
    width: 330px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  background-image: none;
  width: 527px;
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  width: 570px;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 526px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 10px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 10px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 11px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 10px 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 11px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 10px 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 405px;
  margin: -499px auto 94px -7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
    width: 470px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 417px;
    margin-top: -493px;
    margin-bottom: 60px;
    margin-left: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-top: 632px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 405px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -931px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 323px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 696px;
    grid-gap: 20px 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    height: 330px;
    margin-top: -1026px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 590px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 669px;
  margin: 90px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 427px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 25px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 -20px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 90px 90px 0 0;
}

.u-section-3 .u-image-1 {
  width: 471px;
  height: 336px;
  margin: -390px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-image-1 {
    width: 411px;
    height: 293px;
    margin-top: -369px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 69px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 8px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 248px;
    margin-right: 0;
    margin-bottom: -158px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -197px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 64px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 308px;
    margin-bottom: -282px;
  }

  .u-section-3 .u-image-1 {
    height: 243px;
    margin-top: -96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 475px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-4 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 6px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -33px;
    margin-left: 4px;
    margin-right: 4px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 630px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 604px;
  margin: 90px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 566px;
  height: 431px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -510px 0 0 533px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 112px 0 60px 675px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 524px;
    margin-top: 186px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-5 .u-image-1 {
    width: 502px;
    height: 383px;
    margin-top: -127px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -410px;
    margin-left: 333px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 78px;
    margin-left: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 83px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    height: 382px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -537px;
    margin-left: 113px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 27px;
    margin-left: 318px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 190px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 301px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -51px;
    margin-left: auto;
    margin-bottom: -29px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -477px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 367px;
    margin-left: 138px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 259px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -350px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 334px;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 485px;
}

.u-section-6 .u-group-1 {
  width: 508px;
  min-height: 485px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  margin: 65px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 81px 0 0;
}

.u-section-6 .u-image-1 {
  width: 470px;
  height: 335px;
  margin: -410px 65px 75px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-top: -388px;
    margin-right: 0;
    margin-bottom: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    min-height: 418px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    min-height: 446px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 232px;
    margin-right: 106px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 270px;
    height: 220px;
    margin-top: -308px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    min-height: 390px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: 20px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 541px;
}

.u-section-7 .u-text-1 {
  width: 489px;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 76px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 815px;
  margin: 56px auto 45px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-7 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 20px auto 0;
  padding: 20px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  background-image: none;
  align-self: center;
  text-decoration: underline !important;
  font-weight: 700;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-7 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 20px auto 0;
  padding: 20px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px 1px 0;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 56px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 46px;
    width: 340px;
  }
}